@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans');
* {margin:0;padding:0;box-sizing:border-box;}

/*Different font-family for header*/
/*Different font-style for links*/
/*Different font-style for paragraphs*/
/* Use smart quotes instead of prime marks for quotations*/
/*https://stackoverflow.com/questions/8040217/adding-double-quotes-to-a-paragraph-with-css*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

img {
    width:100%;
    height: 100%;
}

header {
    text-align: center;
    font-family: Bitter, serif;
    background: #FFED74;
}

header p {
    font-size: 1.5em;
}

nav {
    background: #E8C66A;
}

#above-fold {
    background-image: url("images/Hyperion_1.jpg");
    background-size: cover;
    padding: 10em 0 50em 0;
    height: auto;
    max-width: 100%;
}

#above-fold a {
    color: Cornsilk;
    display: block;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: Cornsilk;
    text-align: center;
}

section {
    padding: 3em 0;
    background: #FFE2B8;
}

main section a {
    width: 33.3%;
    display: block;
    float: left;
    padding: 2em;
}

.booksay {
    width: 66.6%
    float: left;
    padding: 2em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

p {
    margin-top: 1em;
    line-height: 1.5em;
}

.quotes:before {
    content: '\201c';
}

.quotes:after {
    content: '\201d';
}


footer {
    background: #FF957E;
}

@media screen and (max-width: 800px){
     main section a, .booksay{
       float: none;
       width: auto;
    }
  
}
